In [2]:
import csv
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

#chargement fichiers
dfa_tmdb = pd.read_csv("./data/AllMoviesDetailsCleaned.csv", sep=";",encoding="utf-8-sig", low_memory=False, parse_dates=["release_date"])

In [9]:
dfa_vod = pd.read_csv("./data/vod_films.csv",sep="\t",encoding="utf-8-sig", error_bad_lines=False, low_memory=False)

b'Skipping line 22345: expected 28 fields, saw 29\n'

In [13]:
dfa_tmdb[:2]

,id,budget,genres,imdb_id,original_language,original_title,overview,popularity,production_companies,production_countries,...,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,production_companies_number,production_countries_number,spoken_languages_number
0,2,0,Drama|Crime,tt0094675,fi,Ariel,Taisto Kasurinen is a Finnish coal miner whose...,0.823904,Villealfa Filmproduction Oy,Finland,...,69.0,suomi,Released,NaN,Ariel,7.1,40,2,1,2
1,3,0,Drama|Comedy,tt0092149,fi,Varjoja paratiisissa,"An episode in the life of Nikander, a garbage ...",0.47445,Villealfa Filmproduction Oy,Finland,...,76.0,English,Released,NaN,Shadows in Paradise,7.0,32,1,1,3

In [14]:
dfa_vod[:2]

,id,node_id,version,title,original_title,english_title,has_en_poster,synopsis,year,release_date,...,synopsis_original,score,nb_mc,nb_rating,avg_rating,recommended_by,riplay_available,lowest_price,best_mc_json,human_update_date
0,1269,1234.0,4.0,Le Chaos,Heya fawda,Chaos,0,"Le Caire, de nos jours. Hatem, policier véreux...",2007,2007-12-05,...,0.0,NaN,0.0,4.0,0.00,1.0,0.0,NaN,NaN,2014-03-27 19:54:53
1,1275,1240.0,2.0,Alexandrie... New York,NaN,NaN,0,<p>A l'occasion d'un hommage qui lui est rendu...,2004,NaN,...,0.0,NaN,1.0,5.0,3.25,0.0,1.0,NaN,"{""id"":6381419,""user_id"":1295411,""object_id"":12...",2014-03-27 19:55:02

In [18]:
dfa_full = dfa_vod.merge(dfa_tmdb, how='left', on='original_title')

In [20]:
dfa_full.shape

(103594, 49)

In [33]:
dfa_tmdb.loc[dfa_tmdb[dfa_tmdb.title=="Walk on Water"].index,{"title","original_title"}]

    year          title      original_title
20   NaN  Walk on Water  LaLehet Al HaMayim

In [35]:
dfa_vod.loc[dfa_vod[dfa_vod.english_title=="Walk on Water"].index,{"title","original_title","english_title"}]

      english_title                   title original_title
8331  Walk on Water  Tu marcheras sur l'eau  Walk On Water