In [22]:
import csv
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

# Chargement du fichier dans un dataframe
df = pd.read_csv("MyMoviesDetailsCastingRaw.csv", sep=";",parse_dates=["release_date"])
df = df.loc[:,{'title','personal_rating','tmdb_id','original_title','release_date'}]
df["year"]= df.release_date.dt.year

In [5]:
dfm = pd.read_csv("./data/vod_films.csv", sep="\t",encoding="utf-8-sig", error_bad_lines=False, low_memory=False)

b'Skipping line 22345: expected 28 fields, saw 29\n'

In [15]:
df[:2]

,tmdb_id,original_title,title,personal_rating,release_date,year
0,29452.0,他人の顔,The face of another,3,1966-07-15,1966.0
1,NaN,NaN,Happy people : One year in the taiga,4,NaT,NaN

In [16]:
dfm[:2]

,id,node_id,version,title,original_title,english_title,has_en_poster,synopsis,year,release_date,...,synopsis_original,score,nb_mc,nb_rating,avg_rating,recommended_by,riplay_available,lowest_price,best_mc_json,human_update_date
0,1269,1234.0,4.0,Le Chaos,Heya fawda,Chaos,0,"Le Caire, de nos jours. Hatem, policier véreux...",2007,2007-12-05,...,0.0,NaN,0.0,4.0,0.00,1.0,0.0,NaN,NaN,2014-03-27 19:54:53
1,1275,1240.0,2.0,Alexandrie... New York,NaN,NaN,0,<p>A l'occasion d'un hommage qui lui est rendu...,2004,NaN,...,0.0,NaN,1.0,5.0,3.25,0.0,1.0,NaN,"{""id"":6381419,""user_id"":1295411,""object_id"":12...",2014-03-27 19:55:02

In [30]:
#dff = df.rename(columns = {'title':'english_title'}).merge(dfm, how='inner',on='english_title')
dff = df.merge(dfm, how='inner',on='original_title')
dff.shape

(333982, 33)